@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;500');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*, *::before, *::after {
  box-sizing:border-box;
  margin: 0;
}

body {
  margin: 0;
  background: #fdd;
  font-family: 'Roboto', sans-serif;
}

h1, h2, p {
  font-family: Roboto;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}

/** CLASSES */

.centered {
  text-align: center;
}

.ten-percent-padding {
  padding-left: 10%; padding-right: 10%;

}