.hamburger {
  padding: 0px;
  width: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  background-color: transparent;
  border: transparent;
}

.bar {
  background-color: pink;
  height: 5px; width: 100%;
  border-radius: 5px;
}