/** HERO SECTION */

#section-hero {
  position: relative;
  height: 80vh;
}

#section-hero img, #hero-overlay {
  position: absolute;
  width: 60%; height: 60%;
  min-width: 766px;
  top: 20%;
  right: 0;

  z-index: -1;
  object-fit: cover;
  filter: contrast(120%) brightness(110%);

  pointer-events: none;
}

#hero-overlay {
  background-color: rgba(255,255,255,0.2);
}

#section-hero h1 {
  color: #000;
  position: absolute;
  font-size: 50px;
  height: 100%;
  top: 40%;
  left: 10%;
}

#hero-button {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.white-text {
  color: white;
  text-shadow: 5px 5px 1px #f99;
}

/** NEWS SECTION */
#section-news {
  background-color: white;
  padding: 
  100px 0;
}

#news-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
}