.navbar {
  background-color: white;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Cormorant', sans-serif;
  font-weight: 500;
}

.nav-links {
  margin: auto 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

}
.nav-links li {
  list-style-type: none;
}

.nav-links a {
  font-size: 1.2rem;
  color: black;
}

.nav-logo {
  font-family: Cormorant, sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

.nav-logo span {
  font-size: 1.5rem;
}